Django==1.4.3
Flask==0.8
Jinja2==2.6
PyAudio==0.2.7
PyRSS2Gen==1.0.0
Pygments==1.5
Twisted==11.0.0
Werkzeug==0.8.3
altgraph==0.7.1
bdist-mpkg==0.4.4
bonjour-py==0.3
dj-database-url==0.2.1
gdata==2.0.17
google-api-python-client==1.0beta7
googlecl==0.9.13
gunicorn==0.16.1
httpie==0.2.5
httplib2==0.7.2
include-server==3.1-toolwhip.1
macholib==1.3
mitmproxy==0.7
modulegraph==0.8.1
numpy==1.5.1
oauth2==1.5.211
psycopg2==2.4.6
py2app==0.5.3
pyOpenSSL==0.12
pysqlite==2.6.3
python-dateutil==1.5
python-gflags==2.0
python-memcached==1.48
requests==0.13.8
t==1.2.0
urwid==1.0.1
vboxapi==1.0
wsgiref==0.1.2
xattr==0.6.1
zope.interface==3.5.1
